.container {
  margin-bottom: 1rem;
  position: relative;
  overflow: hidden;
}

.loading-skeleton {
  background-color: #eee;
  border-radius: 4px;
  padding: 1rem;
  animation: moving-skeleton 1s linear infinite;
}

@keyframes moving-skeleton {
  0% {
      background-position: -100% 0;
  }
  100% {
      background-position: 200% 0;
  }
}

.card {
  width: 100%; 
  height: 100%;
}

.skeleton-image {
  height: 200px;
  background-color: #ddd; 
}

.skeleton-title {
  height: 20px; 
  background-color: #ddd; 
  margin-bottom: 8px;
}

.skeleton-text {
  height: 60px; 
  background-color: #ddd; 
}

.cards__frame {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
}

.card__inside {
  padding: 1rem;
}
